Words/.idea/workspace.xml
EnglistWords/.idea/workspace.xml
java_demo/.metadata
java_demo/Pengfu/WebRoot/web/images/
java_demo/ImagesGrab/images
java_demo/ImagesGrab/images.zip
java_demo/Pengfu/target/classes
java_demo/Pengfu/project
*.class
*.class
*.class