Words/.idea/workspace.xml
EnglistWords/.idea/workspace.xml
java_demo/.metadata
java_demo/Pengfu/WebRoot/web/images/
java_demo/ImagesGrab/images
java_demo/ImagesGrab/images.zip
java_demo/Pengfu/target/classes
java_demo/Pengfu/project
*.class
java_demo/Pengfu/WebRoot/web/zhihu
java_demo/Pengfu/target/Pengfu-0.0.1-SNAPSHOT
java_demo2/.metadata/
*.index
*.class
*.prefs
java_demo3/.metadata
*.fdt
*.lock
java_demo3/.recommenders
*.properties
*.properties
*.class
*.jdb
*.class
*.war
java_demo/Pengfu/WebRoot/static
java_demo/Pengfu/src/ajax/model/safe
java_demo/Pengfu/target