<!DOCTYPE html>
<html>
  <head>
    <title>qqsign.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
   	<script>
   		try {
    		window.opener.location.reload(false);
    		window.close();
    	}catch(ex) {
    		location.href = "http://www.nigeerhuo.com";
    	}
   	</script>
  </body>
</html>
