#aj-user-sign-from,
.aj-nav-cur-username {
  font-size: 14px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 800px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s ;
  -ms-transition: all 0.3s ;
  -o-transition: all 0.3s ;
  transition: all 0.3s ;
  color: #ccc;
}
#aj-user-sign-from:hover,
.aj-nav-cur-username:hover {
  color: lightcoral;
}
.c-aj-sign-up-in {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 340px;
  margin-top: -230px;
  margin-left: -170px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: #666 0 0 10px;
  -moz-box-shadow: #666 0 0 10px;
  box-shadow: #666 0 0 10px;
}
.c-aj-sign-up-in .aj-close {
  position: absolute;
  width: 26px;
  height: 26px;
  right: -13px;
  top: -13px;
  text-align: center;
  line-height: 26px;
  cursor: pointer;
  font-size: 20px;
  color: #888;
}
.c-aj-sign-up-in .aj-close:hover {
  opacity: 0.8;
}
.c-aj-sign-up-in .aj-close-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  color: white;
  font-size: 16px;
}
.c-aj-sign-up-in .aj-close-inside .img {
  width: 26px;
  height: 26px;
}
.c-aj-sign-up-in .aj-sign-content {
  padding: 20px;
}
.c-aj-sign-up-in .aj-sign-content .aj-header {
  height: 30px;
  line-height: 30px;
}
.c-aj-sign-up-in .aj-sign-content .aj-header .aj-right {
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.c-aj-sign-up-in .aj-sign-content .aj-header .aj-right:hover {
  color: #0077dd;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-form-input {
  position: relative;
  height: 40px;
  margin: 10px 0;
  border: 1px solid #d3e1f1;
  border-radius: 2px;
  font-size: 14px;
  background-color: #faffbd;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-form-input input {
  position: absolute;
  top: 10px;
  left: 45px;
  width: 240px;
  height: 20px;
  border: 0;
  padding: 0;
  outline: none;
  background-color: #faffbd;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-form-input .aj-zhishi {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 45px;
  height: 40px;
  font-size: 23px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  color: #999;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-check-input {
  width: 162px!important;
  height: 38px;
  border: 1px solid #ccc;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-check-input input {
  width: 150px;
  left: 10px;
}
.c-aj-sign-up-in .aj-sign-content .aj-sign-form .aj-check-wrap img {
  position: absolute;
  right: 42px;
  top: 5px;
}
.c-aj-sign-up-in .aj-sign-content .aj-check-wrap {
  border-color: transparent!important;
}
.c-aj-sign-up-in .aj-sign-content .aj-check-wrap .aj-check-zhishi span {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  color: #8da0aa;
}
.c-aj-sign-up-in .aj-sign-content .aj-line {
  margin: 10px 0;
}
.c-aj-sign-up-in .aj-sign-content .aj-line .aj-remember {
  font-size: 12px;
}
.c-aj-sign-up-in .aj-sign-content .aj-submit {
  border: 0;
  padding: 0;
  width: 100%;
  border: none;
  height: 30px;
  line-height: 30px;
  background-color: lightslategray;
  color: white;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-info {
  width: 100%;
  height: 20px;
  margin: 10px 0;
  font-size: 14px;
  color: #0077dd;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-info .aj-p1 {
  float: left;
  cursor: pointer;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-info .aj-p2 {
  float: right;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-account {
  width: 100px;
  height: 32px;
  margin: 0 auto;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-account a {
  display: inline-block;
  float: left;
  width: 50px;
  height: 32px;
  text-align: center;
}
.c-aj-sign-up-in .aj-sign-content .aj-other-account img {
  width: 32px;
  height: 32px;
}
.c-aj-sign-up-in .c-aj-sign-up-btn {
  cursor: pointer;
}
.c-aj-sign-up-in .c-aj-forget-pass {
  cursor: pointer;
}
.c-aj-sign-up-in .aj-fenge-line {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 10px 0;
}
.c-aj-sign-up-in .aj-fenge-line .aj-mid-word {
  width: 200px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  font-size: 12px;
  color: #8da0aa;
}
.c-aj-sign-up-in .aj-fenge-line .aj-line-one {
  position: absolute;
  top: 10px;
  width: 80px;
  height: 0;
  border-top: 1px solid #ccc;
}
.c-aj-sign-up-in .aj-fenge-line .aj-left-line {
  left: 0;
}
.c-aj-sign-up-in .aj-fenge-line .aj-right-line {
  right: 0;
}
