p{padding:0;margin:0;}
.img{width:50px;cursor:pointer;}

#canvas{display:block;border:1px solid #ccc;}

#can{border:1px solid #ccc;}

#can0{background:#ccc;}

pre{background:#}

textarea{width:800px;height:500px;background:#ddd;border:1px solid #aaa;}