<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Words</title>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/js/bootstrap.js" />
    <script src="/js/underscore.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/c.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/sea.js"></script>
</head>
<body>

<div class="aj-main">
    <form id="submit-form" class="aj-fanyi-form" ng-controller="fanyi">
        <input type="hidden" name="client_id" value="s7C9XO8kYGOOh5AgeTrjyxAG">
        <input type="hidden" name="from" value="auto">
        <input type="hidden" name="to" value="auto">
        <label>查询单词:</label>
        <input type="text" ng-model='q' required="required" name="q" value="">
        <p id="result" class="result" ng-bind="info">123</p>
        <button id="submit" ng-click="ajax()">Submit</button>
    </form>
</div>
<script src="js/modules/index/config.js"></script>
</body>
</html>