<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_1463197870722">
  <display-name>Archetype Created Web Application</display-name>
  
   <servlet>

    <servlet-name>dispatcherServlet</servlet-name>

    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <load-on-startup>1</load-on-startup>

  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.nigeerhuo.controller.Test</servlet-class>
  </servlet>


  <servlet-mapping>

    <servlet-name>dispatcherServlet</servlet-name>

    <url-pattern>/</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.js</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.txt</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.xml</url-pattern>
</servlet-mapping>


<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.css</url-pattern>
</servlet-mapping>
  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.html</url-pattern>
</servlet-mapping>
  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.htm</url-pattern>
</servlet-mapping>
  
  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.swf</url-pattern>
</servlet-mapping>
  
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.png</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.jpg</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>*.gif</url-pattern>
</servlet-mapping>
  
  

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>E404</servlet-name>
    <servlet-class>ajax.controller.spring.ErrorController.error404</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E404</servlet-name>
    <url-pattern>/servlet/E404</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error/404</location>
  </error-page>
  
   <error-page>			
        <exception-type>ajax.model.exception.AJRunTimeException</exception-type>
        <location>/error/runtime</location>
   </error-page>  
 
    <error-page>			
        <exception-type>java.lang.Exception</exception-type>
        <location>/error/exception</location>
   </error-page>  
         
</web-app>
